.contacts {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: 20px;
}
.contact-box {
  width: 21rem;
  padding: 7px;
  margin: 6px;
  box-shadow: rgba(50, 50, 93, 0.25) 0 2px 5px -1px,
    rgba(0, 0, 0, 0.3) 0 1px 3px -1px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.rounded-circle {
  border: 2px solid;
  width: 4rem;
  height: 4rem;
  justify-content: center;
  align-items: center;
  display: flex;
}
.contact-us-container h3 {
  margin: revert;
  text-align: center;
  height: auto;
  background: linear-gradient(to right, #f8f9fa, #f9fafb);
  padding: 14px 15px;
  box-shadow: rgba(50, 50, 93, 0.25) 0 2px 5px -1px,
    rgba(0, 0, 0, 0.3) 0 1px 3px -1px;
}
